* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10vh 70vh;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin: auto auto;
}

form {
    width: 80vw;
    height: 90%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 5% 8% 8% 9% 70%;
    padding: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 2px 2px rgba(104, 104, 104, 0.4);
}

form input[type="text"] {
    font-size: .8em;
    color: rgb(15, 15, 15);
    padding: 5px;
    width: 80%;
    height: fit-content;
    margin: auto auto;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(211, 211, 211, 0.4);
    box-shadow: 0px 2px rgba(104, 104, 104, 0.4);
}

form input[type="color"] {
    font-size: .6em;
    height: 50%;
    padding: 8px;
    color: rgb(15, 15, 15);
    margin: auto auto;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(211, 211, 211, 0.4);
    box-shadow: 0px 2px rgba(104, 104, 104, 0.4);
}

form textarea {
    width: 90%;
    height: 90%;
    resize: none;
    padding: 5px;
    overflow-y: scroll;
    margin: 10px auto;
    border: none;
    border-radius: 15px;
    background-color: rgba(216, 216, 216, 0.4);
    font-size: .8em;
    text-align: justify;
}

#add {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

#add a {
    margin: auto auto;
    font-size: .7em;
    color: black!important;
    cursor: pointer;
    transition: 400ms;
    padding: 3px;
    border-radius: 15px;
    background-color: rgba(216, 216, 216, 0.4);
    text-shadow: 1px 1px rgba(128, 128, 128, 0.4);
}

#add a:hover {
    transform: scale(1.5, 1.5);
}

label {
    font-size: .7em;
    margin: auto auto;
}