* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 250px 175px 175px 100px;
    justify-content: center;
    margin: auto auto;
}

section h1 {
    font-size: 70px;
    color: black;
    text-align: center;
    margin: auto auto;
    border-bottom: 3px solid black;
}

section h2 {
    font-size: 40px;
    margin: auto auto;
    color: black;
    text-align: center;
}

section a {
    text-align: center;
    margin: auto auto;
    width: 40%;
}