<div id="main">
    <header>
        <div>
            <a *ngIf="loggeduser == 'false' || !loggeduser" [routerLink]="['inicio']">
                <span>Notas</span>
                <span id="author"> by Yared Del Toro</span>
            </a>
            <a *ngIf="loggeduser == 'true'" [routerLink]="['notas']">
                <span>Notas</span>
                <span id="author"> by Yared Del Toro</span>
            </a>
        </div>
        <nav *ngIf="loggeduser == 'false' || !loggeduser">
            <a [routerLink]="['registrate']" id="signup" class="button">
                Regístrate
            </a>
            <a [routerLink]="['ingresa']" id="login" class="button">
                Ingresa
            </a>
        </nav>
        <nav *ngIf="loggeduser == 'true' ">
            <a [routerLink]="['perfil/'+ email]" id="profile">
                {{name}}
            </a>
            <a (click)="logout()" id="signup" class="button">
                Cerrar Sesión
            </a>
        </nav>
    </header>

    <main>
        <router-outlet>
        </router-outlet>
    </main>


    <footer>

        <div id="f_actions">
            <div id="social">
                <span>Síguenos en redes sociales</span>
                <div id="i_social">
                    <a href="https://twitter.com/@yareddeltoro" id="twitter">
                        <fa-icon [icon]="faT"></fa-icon>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=3334008892" id="whatsapp">
                        <fa-icon [icon]="faW"></fa-icon>
                    </a>
                    <a href="https://www.facebook.com/yared.chavezdeltoro/" id="facebook">
                        <fa-icon [icon]="faF"></fa-icon>
                    </a>
                    <a href="https://github.com/YSCT01" id="github">
                        <fa-icon [icon]="faG"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/yaredsct/" id="instagram">
                        <fa-icon [icon]="faI"></fa-icon>
                    </a>
                </div>
            </div>
            <div id="f_nav" *ngIf="loggeduser == 'false' || !loggeduser">
                <a [routerLink]="['inicio']">Inicio</a>
                <a [routerLink]="['registrate']">Regístrate</a>
                <a [routerLink]="['ingresa']">Ingresa</a>
                <a [routerLink]="['']">Acerca de</a>
            </div>
            <div id="f_nav" *ngIf="loggeduser == 'true' ">
                <a [routerLink]="['notas']">Mis notas</a>
                <a [routerLink]="['perfil/'+email]">{{name}}</a>
                <a (click)="logout()">Cerrar sesión</a>
                <a>Acerca de</a>
            </div>
        </div>
    </footer>
</div>