* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto 60vh;
    justify-content: center;
    margin: auto auto;
    background-color: rgb(201, 253, 194);
}


/*-- TOP --*/

h1 {
    text-align: center;
    font-size: 1.5em;
    margin: auto auto;
    border-bottom: 2px solid black;
}


/*-- FORM --*/

form {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto auto auto auto auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5% auto;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 2px 2px rgba(104, 104, 104, 0.4);
    justify-content: center;
}

form label {
    font-size: .8em;
    text-align: left;
    padding: 3px;
    height: fit-content;
    margin: auto auto;
    width: 80%;
}

form input[type="email"],
form input[type="text"] {
    font-size: .6em;
    padding: 8px;
    color: rgb(15, 15, 15);
    width: 80%;
    height: fit-content;
    margin: auto auto;
    border-radius: 20px;
    border: none;
    background-color: rgba(211, 211, 211, 0.8);
    box-shadow: 2px 2px rgba(104, 104, 104, 0.4);
}

form input[type="submit"] {
    padding: 0;
    color: white;
    height: 1.5em;
    font-size: .6em;
    width: 30%;
    margin: auto auto;
}

form input[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

form input[type="submit"]:hover:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: white!important;
    transform: scale(1, 1);
}

form a {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto auto;
    text-decoration: none;
    font-size: .5em;
    color: black;
    transition: 400ms;
}

form a:hover {
    color: blue;
    transform: scale(1.2, 1.2);
}