* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto 90vh;
    justify-content: center;
    margin: auto auto;
    background-color: rgb(255, 205, 205);
}


/*-- TOP --*/

#top {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}

#top h1 {
    font-size: 1.5em;
    margin: auto auto;
    width: auto;
    border-bottom: 2px solid black;
}

#top h2 {
    font-size: 1em;
    margin: auto auto;
}


/*-- FORM --*/

form {
    width: 100%;
    height: 90%;
    margin: auto auto;
    display: grid;
    padding: 10px;
    grid-template-columns: 90%;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 2px 2px rgba(104, 104, 104, 0.4);
}

form label {
    font-size: .6em;
    text-align: left;
    padding: 3px;
    height: fit-content;
    margin: auto auto;
    width: 80%;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
    font-size: .5em;
    padding: 8px;
    color: rgb(15, 15, 15);
    width: 80%;
    margin: auto auto;
    border-radius: 20px;
    border: none;
    background-color: rgba(211, 211, 211, 0.8);
    box-shadow: 2px 2px rgba(104, 104, 104, 0.4);
}

form input[type="submit"] {
    height: 1.5em;
    font-size: .6em;
    color: white;
    width: 40%;
    margin: auto auto;
}

form input[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

form input[type="submit"]:hover:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: white!important;
    transform: scale(1, 1);
}

form a {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    text-decoration: none;
    font-size: .5em;
    color: black;
    transition: 400ms;
}

form a:hover {
    color: blue;
    transform: scale(1.2, 1.2);
}