* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 200px auto;
    justify-content: center;
    margin: auto auto;
    background-color: rgb(255, 205, 205);
}


/*-- TOP --*/

#top {
    display: grid;
    grid-template-rows: 100px 100px;
    text-align: center;
}

#top h1 {
    font-size: 65px;
    margin: auto auto;
    width: 70%;
    border-bottom: 2px solid black;
}

#top h2 {
    font-size: 45px;
    margin: auto auto;
}


/*-- FORM --*/

form {
    width: 900px;
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 2px 2px rgba(104, 104, 104, 0.4);
}

form label {
    font-size: 25px;
    text-align: left;
    padding: 3px;
    height: fit-content;
    margin: auto auto;
    width: 80%;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
    font-size: 18px;
    padding: 8px;
    color: rgb(15, 15, 15);
    width: 80%;
    margin: auto auto;
    border-radius: 20px;
    border: none;
    background-color: rgba(211, 211, 211, 0.8);
    box-shadow: 2px 2px rgba(104, 104, 104, 0.4);
}

form input[type="submit"] {
    padding: 0;
    color: white;
    width: 40%;
    margin: auto auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

form input[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

form input[type="submit"]:hover:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: white!important;
    transform: scale(1, 1);
}

form a {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto auto;
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 400ms;
}

form a:hover {
    color: blue;
    transform: scale(1.2, 1.2);
}